body {
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nanum-gothic-regular {
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'Nanum Gothic', sans-serif;
}
  

.text {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    font-size: small;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
}

/* Layer select button */
.layer-select {
    width: 20%;
    display: flex;
    flex-direction: column;
}

#input-layer-button {
    float: left; 
    width: 33.3%;
    height: 100%;
    background-color: yellow;
    border-width: 1px;
    border-radius: 5px;
}

#hidden-layer-button {
    float: left;
    width: 33.3%;
    height: 100%;
    background-color: green;
    border-width: 1px;
    border-radius: 5px;
}

#run-layer-button {
    float: left;
    width: 33.3%;
    height: 100%;
    background-color: salmon;
    border-width: 1px;
    border-radius: 5px;
}

/* Div for containing layer nodes */
#layer1,
#layer2,
#layer3 {
    width: 100%;
    height: 100%;
    float: left;
    background-color: skyblue;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
}

.node-boxes {
    border: 1px solid;
    border-radius: 5px;
    width: 200px;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
}

.input-boxes {
    margin-top: 5px;
    margin-left: 10px;
}


.submit-button {
    margin-top: 40px;
    margin-left: 10px;
}

/* Canvas and description */
.layer-canvas {
    width: 50%;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    position: relative;
}

#draw-model {
    --dot-bg: white;
    --dot-color: black;
    --dot-size: 1px;
    --dot-space: 22px;
      background:
          linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
          linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
          var(--dot-color);
    width: 100%;
    height: 80%;
    overflow-y: scroll;
}

#constructModel {
    width: 300px;
    height: auto;
    margin-top: 5%;
    margin-left: 30%;
    text-align: center;
}

#reset {
    padding: 2px 3px;
    position: absolute; top:10px; right: 10px;
}

#layer-description {
    width: 100%;
    height: 20%;
    background-color: aqua;
    border-radius: 5px;
    position: relative;
}

/* Output */
.output {
    width: 30%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#model-log {
    width: 100%;
    height: 70%;
    background-color: ivory;
    border-radius: 5px;
    font-size: 13px;
    overflow-y: scroll;
}

#log {
    padding:10px;
}

#model-test {
    width: 100%;
    height: 30%;
    background-color: beige;
    border-radius: 5px;
    overflow-y: scroll;
}

#num-test-button,
#image-test-button,
#text-test-button {
    float: left; 
    width: 33.3%;
    height: 100%;
    background-color: yellow;
    border-width: 1px;
    border-radius: 5px;
}

#num-test-page,
#image-test-page,
#text-test-page {
    text-align: center;
}

#num-test-output {
    height: 100%;
    font-size: 13px;
}

/* Footer */
.footer {
    width: 100%;
    height: 10vh;
    background-color: white;
}